<div>
    <section>
        <h2>{{ header }}</h2>
    </section>

    <br>

    <section>
        <input value="Guardar" type="button" (click)="guardarP()" />
        <input value="Editar" type="button" (click)="editarP()" />
        <input value="Gestionar" type="button" (click)="gestionarP()" />
    </section>
    <br>
    <section>
        <div *ngIf="gestionarPersona">
            <h2>Gestionar Personas</h2>
            <br>
            <br>

            <TABLE  WIDTH="50%">
                    <TR>
                        <TD>Tipo de Identificacion</TD>
                        <TD ROWSPAN=3></TD>
                        <TD>Numero de Identificacion</TD>
                        
                    </TR>
                    <TR>
                        <TD>
                                <select [(ngModel)]="persona.tipoIdentificacion">
                                        <option value="CC">Cedula de Ciudadania</option>
                                        <option value="TI">Tarjeta de Identidad</option>
                                        <option value="Pasaporte">Pasaporte</option>
                                        <option value="CE">Cedula de Extrangeria</option>
                                </select>

                        </TD> 
                        <TD>
                            <input name="name" type="text"  placeholder="Numero Identificacion" />
                        </TD>
                    </TR>
                    <tr>
                        <td>

                        </td>
                        <td>
                         <input value="Consultar" type="button" (click)="consultar()"/>
                        </td>
                    </tr>
            </TABLE>
            <br>
            <br>
            <table BORDER CELLPADDING=10 CELLSPACING=0 >
                <tr>
                  <th>Nombres</th>
                  <th>Apellidos</th>
                  <th>Fecha de Nacimiento</th>
                  <th># de Identificacion</th>
                  <th>Tipo de Identificacion</th>
                  <th>Numero Telefonico</th>
                  <th>Edad</th>
                  <th>Estado</th>
                  <th>Options</th>
                </tr>
                <tr *ngFor="let per of personas">  
                    <td>{{per.nombre}}</td>
                    <td>{{per.apellido}}</td>
                    <td>Fecha nacimiento</td>
                    <td>{{per.numeroIdentificacion}}</td>
                    <td>{{per.tipoIdentificacion}</td>
                    <td>{{per.telefono}}</td>
                    <td>{{per.edad}}</td>
                    <td>{{per.estado}}</td>
                </tr> 
              </table>

        </div>
        <div *ngIf="guardarPersona">
            <h2>Guardar Persona</h2>
            <TABLE   WIDTH="50%">
                    <TR>
                        <TD>Tipo de Identificacion
                            <br>
                            <select [(ngModel)]="persona.tipoIdentificacion">
                                    <option value="CC">Cedula de Ciudadania</option>
                                    <option value="TI">Tarjeta de Identidad</option>
                                    <option value="Pasaporte">Pasaporte</option>
                                    <option value="CE">Cedula de Extrangeria</option>
                            </select>

                        </TD>
                        <TD>Numero de Identificacion
                            <br>
                            <input name="name" type="text" [(ngModel)]="persona.numeroIdentificacion"  placeholder="Numero Identificacion" />
                        </TD>
                    </TR>
                    <TR>
                        <TD>Nombres
                                <br>
                                <input name="name" type="text" [(ngModel)]="persona.nombre"  placeholder="Nombres" /></TD>
                        <TD>Apellidos
                                <br>
                                <input name="name" type="text" [(ngModel)]="persona.apellido"  placeholder="Apellidos" />

                        </TD>
                        
                    </TR>
                    <TR>
                        <TD>Numero Telefonico
                                <br>
                                <input name="name" type="text" [(ngModel)]="persona.telefono"  placeholder="Telefono" />
                        </TD>
                        <TD>Edad
                                <br>
                                <input name="name" type="text" [(ngModel)]="persona.edad"  placeholder="Edad" /></TD>
                       
                    </TR>
                    <TR>
                        <TD>Estado <br>
                            <select [(ngModel)]="persona.estado">
                                <option value="Soltero">Soltero</option>
                                <option value="Casado">Casado</option>
                                <option value="Union Libre">Union Libre</option>
                                
                        </select></TD>
                       
                    </TR>
                    <TR>
                        <TD>Roles
                            <br>
                            <input type="checkbox" name="estado1" value="Comprador">Comprador<br>
                            <input type="checkbox" name="estado2" value="Vendedor">Vendedor<br>
                        </TD>
                        <TD>
                                <input value="Guardar" type="button" (click)="guardar()"/>
                        </TD>
                       
                    </TR>
                </TABLE>

        </div>
        <div *ngIf="editarPersona">
            <h2>Editar Persona</h2>
            <TABLE   WIDTH="50%">
                    <TR>
                        <TD>Tipo de Identificacion
                            <br>
                            <select [(ngModel)]="persona.tipoIdentificacion">
                                    <option value="CC">Cedula de Ciudadania</option>
                                    <option value="TI">Tarjeta de Identidad</option>
                                    <option value="Pasaporte">Pasaporte</option>
                                    <option value="CE">Cedula de Extrangeria</option>
                            </select>

                        </TD>
                        <TD>Numero de Identificacion
                            <br>
                            <input name="name" type="text" [(ngModel)]="persona.numeroIdentificacion"  placeholder="Numero Identificacion" />
                        </TD>
                    </TR>
                    <TR>
                        <TD>Nombres
                                <br>
                                <input name="name" type="text" [(ngModel)]="persona.nombre"  placeholder="Nombres" /></TD>
                        <TD>Apellidos
                                <br>
                                <input name="name" type="text" [(ngModel)]="persona.apellido"  placeholder="Apellidos" />

                        </TD>
                        
                    </TR>
                    <TR>
                        <TD>Numero Telefonico
                                <br>
                                <input name="name" type="text" [(ngModel)]="persona.telefono"  placeholder="Telefono" />
                        </TD>
                        <TD>Edad
                                <br>
                                <input name="name" type="text" [(ngModel)]="persona.edad"  placeholder="Edad" /></TD>
                       
                    </TR>
                    <TR>
                        <TD>Estado <br>
                            <select [(ngModel)]="persona.estado">
                                <option value="Soltero">Soltero</option>
                                <option value="Casado">Casado</option>
                                <option value="Union Libre">Union Libre</option>
                                
                        </select></TD>
                       
                    </TR>
                    <TR>
                        <TD>Roles
                            <br>
                            <input type="checkbox" name="estado1" value="Comprador">Comprador<br>
                            <input type="checkbox" name="estado2" value="Vendedor">Vendedor<br>
                        </TD>
                        <TD>
                                <input value="Editar" type="button" (click)="editar()"/>
                        </TD>
                       
                    </TR>
                </TABLE>
        </div>


    </section>

</div>
